*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.nav {
  position: fixed;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.nav-item {
  position: relative;
  overflow: hidden;
  padding-bottom: 0.2rem;
  text-transform: uppercase;
}

.nav-item:not(:last-child) {
  margin-right: 2rem;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 0.05rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item:hover::after {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.active-nav::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.active-nav:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.wrapper {
  padding-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.form-container {
  padding: 2rem;
  min-width: 30rem;
  max-width: 40rem;
}

.form-group {
  padding: 1rem;
  text-align: center;
}

.form-group label {
  text-align: left;
  display: block;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  border-radius: 2.5rem;
  background-color: #fafafa;
  border: none;
  padding: 1rem 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0);
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

input:focus {
  outline: none;
  border: 0.1rem solid black;
}

input:not(:focus) {
  border: 0.1rem solid rgba(0, 0, 0, 0);
}

input[type="submit"] {
  border: 0.1rem solid #000;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.msg {
  padding: 1rem 2rem;
  text-align: center;
  margin-top: 2rem;
  border-radius: 0.2rem;
}

.error {
  border-color: #be1931;
}

.error-description,
#pwd-strength-meter {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.error-description {
  color: #be1931;
}

.other-links {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

.other-link {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.other-link:not(:last-child) {
  margin-bottom: 1rem;
}

.other-link:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn {
  border: 0.1rem solid #000;
  background: none;
  border-radius: 2.5rem;
  padding: 0.2rem 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
}

.btn-small {
  font-size: 1rem;
}

.btn-positive {
  background-color: rgba(0, 141, 35, 0.8);
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-positive:hover {
  background-color: #64b664;
}

.btn-negative {
  background-color: rgba(190, 25, 49, 0.8);
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-negative:hover {
  background-color: #ff4d4d;
}

.container {
  padding-top: 10rem;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading {
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 400;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item, .menu__icon {
  padding: 2rem;
}

.menu__item {
  border-radius: 1.5rem;
  border: 0.05rem solid #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu__item:not(:last-child) {
  margin-right: 2rem;
}

.menu__item:hover {
  cursor: pointer;
  background-color: #000;
  border-color: #fff;
}

.menu__item:hover a {
  color: #fff;
}

.menu__item:hover svg {
  fill: #fff;
}

.menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__icon svg {
  width: 6rem;
}

.menu__name {
  text-align: center;
  text-transform: uppercase;
}

.product {
  width: 100%;
  height: 100%;
}

.product input {
  border-radius: initial;
  min-width: 30rem;
}

.product__image {
  min-height: 40rem;
  position: relative;
}

.product__image img {
  height: 40rem;
}

.product__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.product__desc {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__add {
  margin-top: 1rem;
}

#product_image {
  width: auto;
  border-radius: 2.5rem;
}
